# Exercise 4.8

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\lydia\OneDrive\Documents\Career Foundry Data\Data Immersion\Acheivement 4\Instacart Basket Analysis May-2023'
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated_2.pkl'))

### Dealing with memory issues

In [3]:
ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32399732 entries, 0 to 32404858
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_time_of_day      int8
 5   days_since_last_order  float16
 6   product_id             int32
 7   add_to_cart_order      int32
 8   reordered              int8
 9   product_name           object
 10  aisle_id               int8
 11  department_id          int8
 12  prices                 float16
 13  _merge                 category
 14  price_range_loc        object
 15  busiest day            object
 16  Busiest days           object
 17  Busiest period of day  object
dtypes: category(1), float16(2), int32(4), int8(6), object(5)
memory usage: 2.3+ GB

In [4]:
ords_prods_merged.drop(columns = {'_merge'}, inplace = True)

In [5]:
ords_prods_merged['price_range_loc'] = ords_prods_merged['price_range_loc'].astype('category')
ords_prods_merged['busiest day'] = ords_prods_merged['busiest day'].astype('category')
ords_prods_merged['Busiest days'] = ords_prods_merged['Busiest days'].astype('category')
ords_prods_merged['Busiest period of day'] = ords_prods_merged['Busiest period of day'].astype('category')

In [6]:
ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32399732 entries, 0 to 32404858
Data columns (total 17 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_time_of_day      int8
 5   days_since_last_order  float16
 6   product_id             int32
 7   add_to_cart_order      int32
 8   reordered              int8
 9   product_name           object
 10  aisle_id               int8
 11  department_id          int8
 12  prices                 float16
 13  price_range_loc        category
 14  busiest day            category
 15  Busiest days           category
 16  Busiest period of day  category
dtypes: category(4), float16(2), int32(4), int8(6), object(1)
memory usage: 1.4+ GB

### Exercise follow along

In [7]:
df = ords_prods_merged[:1000000]

In [8]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest day,Busiest days,Busiest period of day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Most orders

In [9]:
df.groupby('product_name')

In [10]:
df.groupby('department_id').agg({'order_number':['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [11]:
# Creating a new column displaying max orders for certain user_id
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
ords_prods_merged.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest day,Busiest days,Busiest period of day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Average orders,10

In [13]:
# Changing display to not limit the number of rows 
pd.options.display.max_rows = None

In [14]:
ords_prods_merged.head(50)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest day,Busiest days,Busiest period of day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Average orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Average orders,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Most orders,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Most orders,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Least busy days,Most orders,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Average orders,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Most orders,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Most orders,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,Mid range product,Regularly busy,Least busy days,Most orders,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Regularly busy,Most orders,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid range product,Regularly busy,Busiest days,Most orders,24

In [15]:
# Creating loyalty comlumn based on max order criteria
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [16]:
ords_prods_merged['loyalty_flag'].value_counts()

Regular Customer    15874128
Loyal Customer      10282763
New Customer         6242841
Name: loyalty_flag, dtype: int64

In [17]:
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(10)

   user_id  loyalty_flag  order_number
0        1  New Customer             1
1        1  New Customer             2
2        1  New Customer             3
3        1  New Customer             4
4        1  New Customer             5
5        1  New Customer             6
6        1  New Customer             7
7        1  New Customer             8
8        1  New Customer             9
9        1  New Customer            10

In [18]:
# Export dataframe 
ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'order_product_rem_outliers.pkl'))